*body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.main {
  width:100% ;
  height: auto;
  display: flex;
}

.headings{
  width: 400px;
  height: auto;
  background-color: aqua;
}

h1 {
  color: beige;
  
}

.img {
  width: 400px;
  height:500px ;
  background-color: cadetblue;
}

@media (min-width :765px) {
  .headings{
    background-color: cornsilk;
    
  } 
  h1{
    color: brown;
  }

}

