.pay{
    border: 1px solid black;
    width: 400px;
    height: 550px;
    background: url(new\ img\ .webp);
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0, 0, 0.7);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
form{
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100px;
    height: 100px;
    backdrop-filter: brightness(40%);
    backdrop-filter: blur(30%);
    flex-direction: column;
    display: flex;
    gap: 5px;
}
h1{
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0px 0px 2px rgba(0,0, 0, 0.5);
    margin-top: -43px;
    margin-bottom: 60px;
    
}
#paylogo{
    padding-top: 10px;
    padding-left: 230px;
    font-size: 40px;

}

label{
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-left: 10px;
}
input{
    background:  rgba(83, 89, 114, 0.537);
    height: 40px;
    width: 250px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: white;
}

button{
    background: rgba(45, 126, 231);
    height: 40px;
    width: 80px;
    line-height: 40px;
    border-radius: 40px;
    border: none;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgba(0,0, 0, 0.3);
    color: white;
    cursor: pointer;
}